.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}
.App-link {
  color: #61dafb;
}
.nav{
  height: 180px;
  background-color: #282c34 ;
}
.form{
  display: flex;
  flex-direction:row ;
  margin: 15px;
  width: 600px;

}
.input{
  margin-right: 15px;
  width: 500px;
}
.contain{
  display: flex;
  justify-content: center;
  width: 100%;
}

